.contatos {
    .alinha-md {
        margin-left: 12.5rem;
    }

	h3 {
		margin-left: 1rem;
        margin-bottom: 0;
	}
    
    p {
        margin-left: 3rem;
        margin-bottom: 4rem;
    }

    .iconAlt {
        margin-right: 0.5rem;
    }

	.form {
        background-color: rgba(128, 128, 128, 0.486);

        .form-control {
            border-radius: unset;
            background-clip:unset;
        }
	}

}
