header{
    background-color: rgba(0, 0, 0, 0.5);
}

.header--section {
    height: 40px;

    h3 {
        font-size: 1rem;
        color: #fff;
        margin: 0;
    }

    li {
        width: 28px;
        height: 28px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 5px;

        transition: .2s;
        transition-timing-function: ease-in-out;
        cursor: pointer;
    }

    .facebook:hover {
        background-color: #3b5998;
    }

    .instagram:hover {
       background: linear-gradient(#6559ca,#bc318f 30%,#e42e66 50%,#fa5332 70%,#ffdc80 100%);
    }

    .twitter:hover{
        background-color: #00aced;
    }

    .youtube:hover{
        background-color: #bb0000;
    }

    .spotify:hover {
        background-color: #7ab800;
    }

    .deezer:hover {
        background-color: #d3222a;
    }

    a {
        color: white;
    }

    a:hover {
        color: white;
    }

}