.hero {
    background: url('../assets/hero.jpg')no-repeat bottom center;
    height: 100vh;
    background-color: black;
    background-size: cover;
    position: relative;

    h1 {
        font-size: 5rem;
        text-transform: uppercase;

        color: #fff;
    }
}
