@import "~bootstrap/scss/bootstrap";

.container {
    padding: 0;
}

.microfone {
    width: 130px;
    height: 70px;
}

.title {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}